
.trailer{
    @apply w-full relative;
    cursor: pointer;
}
.trailer .imgTrailer{
    border-radius: 5px;
    @apply block w-full;
}

.trailer:hover .iconImgTrailer{
    opacity: 1;
}

.iconImgTrailer{
    transition: all .5s;
    @apply absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 w-16 opacity-0 cursor-pointer;
}